$def with (tags, photo_count)

<h3>Quick tags</h3>

<a href="/exif/tag/Model">Model</a>, 
<a href="/exif/tag/Software">Software</a>, 
<a href="/exif/tag/ISO">ISO</a>,
<a href="/exif/tag/ImageSize">ImageSize</a>

<h3>All available tags</h3>

$if tags:
    <table><tr><th>Tag</th><th>Procent</th></td></tr>
    $for t in tags:
        <tr>
        <td><a href="/exif/tag/$t['tag']">$t['tag']</a></td>
        <td>${int(t['count'] / float(photo_count) * 100)}%</td>
        </tr>
    </table>
$else:
    No exif tags available.
