$def with (content)
<html>
<head>
    <title>exif dataminer</title>
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- 1. Add these JavaScript inclusions in the head of your page --> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/js/highcharts.js"></script> 
    <!--[if IE]>
        <script type="text/javascript" src="/static/js/excanvas.compiled.js"></script>
    <![endif]--> 
</head>
<body>
<img class="left" style="margin-right: 20px;" src="/static/images/datamining.jpg" width="110" />
<a href="/">
    <h3 class="left">exif dataminer</h3>
</a>

<span class="left" style="margin-left: 50px;margin-top: 20px;">
    [<a href="/">home</a>]
    [<a href="/browse/">browse</a>]
    [<a href="/exif/tags/">exif tags</a>]
</span>

<span class="right">
    Centralized logging: [<a href="/logs/logging/tools/">Tools</a>]
    [<a href="/logs/logging/webapp/">Application</a>]
</span>

<div class="clear"></div>
<hr />

$:content


<div class="clear"></div>
<br /><br />
<hr />
<center>Prototype by <a href="http://www.andreisavu.ro/">Andrei Savu</a></center>

</body>
</html>
