$def with (photo)

<h2><small>flickr / $photo['id']</small> / $photo['title']</h2>

<img style="margin: 2px;padding: 2px;border: 1px solid grey"  src="$photo['urls']['Medium']" />

<div class="clear"></div>
<hr />
<span style="color: red; font-weight: bold;">WARNING:</span> Geek(ish) stuff bellow!<br />
<h3>Exif:</h3>

$if photo['exif']:
    $code:
        def limit(s, width=50):
            if s is not None and len(s) >= width:
                return s[:width] + "..."
            else:
                return s
    <table>
    <thead>
        <tr>
            <th>Label</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    $for (tag, label, value) in photo['exif']:
        <tr>
            <td>$label</td>
            <td>$limit(value)</td>
        </tr>
    </tbody>
    </table>
$else:
    No exif data available for this photo.
    

